{% extends "base.html" %}

{% block main_content %}
    <h2>Анализа на пазарот</h2>
    <form action="/analysis" method="POST">
        <label for="issuer">Шифра:</label>
        <input type="text" id="issuer" name="issuer" required>

        <label for="date_from">Датум од:</label>
        <input type="date" id="date_from" name="start_date" required>

        <label for="date_to">Датум до:</label>
        <input type="date" id="date_to" name="end_date" required>

        <button type="submit">Анализирај</button>
    </form>

    <div>
        <h3>График:</h3>
        {% if graph_url %}
            <h2>Резултат:</h2>
            <img src="{{ graph_url }}" alt="Stock Graph">
        {% endif %}
    </div>
{% endblock %}